$main-color: #c4c4c4;
$sec-color:darkgreen;
$color-contenedores: #dcdddc;
$font-main: 'Barlow Semi Condensed', sans-serif;

/* NUESTRA FLOTA */
.articleFlota{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .divImgFlota{
        display: none;
    }

}

.divFlota{
    display: grid;
    justify-items: center;
    align-items: center;
    row-gap: 5px;
    border: 1px solid $sec-color;
    border-radius: 15px;
    width: 330px;
    margin: 40px 0px;
    text-align: center; 
    background-color:$color-contenedores;
}

.divFlota_1{
    width:300px;

    .pFlota{
        margin-top: 5px;
    }

    .imgRetroexcavadoraSilueta{
        height: 100px;
        width: 100px;
    }
}

.videoYT{
    width: 300px;
    height: 180px;
}



