@use "globales";

%cajas{
    display: grid;
    justify-items: center;
    align-items: center;
    row-gap: 5px;
    border: 1px solid globales.$sec-color;
    border-radius: 15px;
    width: 330px;
    height: 465px;
    margin: 20px 0px;
    text-align: center; 
    background-color: globales.$main-color;  
}

/* SERVICIOS */
.subtitleServicios{
    color: globales.$sec-color;
}

.articleservicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .div_servicios1{
        @extend %cajas;
    }
    .div_servicios2{
        @extend %cajas;
    }
    .div_servicios3{
        @extend %cajas;
    }
    .div_servicios4{
        @extend %cajas;
    }
}
/* SERVICIOS DESKTOP */

@media (min-width: 1024px){
    .subtitleServicios{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 45px 0px;
    }

    .articleservicios{        
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        
        .div_desktop{
            display: flex;
            flex-direction: column;
            width: 485px;
            height: 520px;
            margin: 20px 50px;
            text-align: center; 
            background-color: #e9e3e3; 

            .pServicios{
                font-size: 19px;
            }
        }
    }
        
}
