@use "globales";

/* SOBRE NOSOTROS */
.articleSobreNosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     
}

.center_h2{
        display: flex;
        justify-content: center;
    }

.h2nuestraVsion{
    margin: 50px 0px;
    color: globales.$sec-color;
}

.colorGris{
    background-color: globales.$color-contenedores;
    opacity: 0.9;
}

/* SOBRE NOSOTROS DESKTOP */
@media (min-width: 1024px){

    .h1_visto{
        display: flex;
        justify-content: center;
        font-family: globales.$font-main;
        font-size: 50px;
        text-shadow: -1px 3px 3px globales.$sec-color;
        color: black;
        background-color: transparent;
        margin: 60px 0px 60px 0px;
    }

    .articleSN{
        margin-bottom: 20px; 
    }

}